---
import '@fontsource/im-fell-french-canon'
import '../styles/global.css'
---

<style>
    :root {
        h1 {
            font-family: 'IM Fell French Canon', serif;
        }
    }
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
        <script is:inline defer src="https://cloud.umami.is/script.js" data-website-id="16505193-01ba-40e9-9970-1f9ff0a2fead"></script>
	</head>
	<body>
        <slot />
	</body>
</html>
